<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card asset-lib-card" style="width: 18rem;">
        <img src="{% static/assets/asset_1.jpeg' %}" class="first-image">
      <div class="card-body">
        <button data-asset-id="asset_1" class="w-100 btn btn-block add-asset-btn">Add item</button>
        <hr><center><h5 class="card-title"></h5></center>
      </div>
      </div>
    </div>
    <div class="col">
        <div class="card asset-lib-card" style="width: 18rem;">
          <img src="{% static 'assets/asset_2.jpeg' %}" class="first-image">
        <div class="card-body">
          <button data-asset-id="asset_2" class="w-100 btn btn-block add-asset-btn">Add item</button>
          <hr><center><h5 class="card-title"></h5></center>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="card asset-lib-card" style="width: 18rem;">
          <img src="{% static 'assets/asset_3.jpeg' %}" class="first-image">
        <div class="card-body">
          <button data-asset-id="asset_3" class="w-100 btn btn-block add-asset-btn">Add item</button>
          <hr><center><h5 class="card-title"></h5></center>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="card asset-lib-card" style="width: 18rem;">
          <img src="{% static 'assets/asset_2.jpeg' %}" class="first-image">
        <div class="card-body">
          <button data-asset-id="asset_2" class="w-100 btn btn-block add-asset-btn">Add item</button>
          <hr><center><h5 class="card-title"></h5></center>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="card asset-lib-card" style="width: 18rem;">
          <img src="{% static 'assets/asset_3.jpeg' %}" class="first-image">
        <div class="card-body">
          <button data-asset-id="asset_3" class="w-100 btn btn-block add-asset-btn">Add item</button>
          <hr><center><h5 class="card-title"></h5></center>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="card asset-lib-card" style="width: 18rem;">
          <img src="{% static 'assets/asset_1.jpeg' %}" class="first-image">
        <div class="card-body">
          <button data-asset-id="asset_1" class="w-100 btn btn-block add-asset-btn">Add item</button>
          <hr><center><h5 class="card-title"></h5></center>
        </div>
        </div>
      </div>
      <div class="col">
        <div class="card asset-lib-card" style="width: 18rem;">
          <img src="{% static 'assets/asset_2.jpeg' %}" class="first-image">
        <div class="card-body">
          <button data-asset-id="asset_2" class="w-100 btn btn-block add-asset-btn">Add item</button>
          <hr><center><h5 class="card-title"></h5></center>
        </div>
        </div>
      </div>
</div>